SnapshotNameDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SnapshotNameDialog #dialog {
    width: 60;
    height: 12;
    padding: 1;
    border: round green;
    background: $surface;
}

SnapshotNameDialog #question {
    margin-bottom: 1;
}

SnapshotNameDialog Input {
    margin-bottom: 1;
}

SnapshotNameDialog #dialog-buttons {
    width: 100%;
}

SnapshotNameDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

SelectSnapshotDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SelectSnapshotDialog #dialog {
    width: 60;
    padding: 1;
    border: round green;
    background: $surface;
    height: auto;
}

SelectSnapshotDialog #snapshot-list {
    margin-bottom: 1;
    border: round green;
    height: 10;
}

ConfirmationDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ConfirmationDialog #dialog {
    width: 60;
    height: 10;
    padding: 1;
    border: round $error;
    background: $surface;
}
ConfirmationDialog #dialog Label {
   content-align: center middle;
}

ConfirmationDialog #question {
    margin-bottom: 1;
}

ConfirmationDialog #dialog-buttons {
    width: 100%;
    margin-top: 1;
}

ConfirmationDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
    margin-right: 1;
}

CloneNameDialog {
    align: center middle;
    content-align: center middle;
}

CloneNameDialog #dialog {
    width: 60;
    height: 13;
    padding: 1;
    border: round green;
    background: $surface;
}

CloneNameDialog #question {
    align: center middle;
    margin-bottom: 1;
}

CloneNameDialog Input {
    margin-bottom: 1;
}

CloneNameDialog #dialog-buttons {
    width: 100%;
}

CloneNameDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

RenameVMDialog {
    align: center middle;
    content-align: center middle;
}

RenameVMDialog #dialog {
    width: 60;
    height: 13;
    padding: 1;
    border: round green;
    background: $surface;
}

RenameVMDialog #question {
    align: center middle;
    margin-bottom: 1;
}

RenameVMDialog Input {
    margin-bottom: 1;
}

RenameVMDialog #dialog-buttons {
    width: 100%;
}

RenameVMDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

ChangeNetworkDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ChangeNetworkDialog #dialog {
    width: 60;
    height: 20;
    padding: 1;
    border: round green;
    background: $surface;
}

ChangeNetworkDialog #interface-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #network-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}


