SnapshotNameDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SnapshotNameDialog #dialog {
    width: 60;
    height: 12;
    padding: 1;
    border: round green;
    background: $surface;
}

SnapshotNameDialog #question {
    margin-bottom: 1;
}

SnapshotNameDialog Input {
    margin-bottom: 1;
}

SnapshotNameDialog #dialog-buttons {
    width: 100%;
}

SnapshotNameDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

SelectSnapshotDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SelectSnapshotDialog #dialog {
    width: 60;
    padding: 1;
    border: round green;
    background: $surface;
    height: auto;
}

SelectSnapshotDialog #snapshot-list {
    margin-bottom: 1;
    border: round green;
    height: 10;
}

ConfirmationDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ConfirmationDialog #dialog {
    width: 60;
    height: 15;
    padding: 1;
    border: round $error;
    background: $surface;
}
ConfirmationDialog #dialog Label {
   content-align: center middle;
}

ConfirmationDialog #question {
    margin-bottom: 1;
}

ConfirmationDialog #dialog-buttons {
    width: 100%;
    margin-top: 1;
}

ConfirmationDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
    margin-right: 1;
}

WebConsoleDialog,
SelectDiskModal,
SelectPoolModal,
DeleteVMConfirmationDialog,
CloneNameDialog
SelectServerModal {
    align: center middle;
    content-align: center middle;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
}

WebConsoleDialog #dialog,
SelectDiskModal #dialog,
SelectPoolModal #dialog,
DeleteVMConfirmationDialog #dialog,
CloneNameDialog #dialog,
SelectServerModal #select-server-container {
    width: 60;
    padding: 1;
    border: round green;
    background: $surface;
    height: auto;
}

SelectDiskModal #question,
SelectPoolModal #question,
DeleteVMConfirmationDialog #question,
CloneNameDialog #question,
SelectServerModal #select-server-container Label {
    content-align: center middle;
    margin-bottom: 1;
}

CloneNameDialog Input,
SelectServerModal Checkbox {
    padding: 0 1;
    margin-bottom: 1;
}

WebConsoleDialog #dialog-buttons,
SelectDiskModal #dialog-buttons,
SelectPoolModal #dialog-buttons,
DeleteVMConfirmationDialog #dialog-buttons,
CloneNameDialog #dialog-buttons,
SelectServerModal #dialog-buttons {
    width: 100%;
}

WebConsoleDialog #dialog-buttons Button,
SelectDiskModal #dialog-buttons Button,
SelectPoolModal #dialog-buttons Button,
DeleteVMConfirmationDialog #dialog-buttons Button,
CloneNameDialog #dialog-buttons Button,
SelectServerModal #dialog-buttons Button {
    width: 48%;
    margin: 0 0;
}


RenameVMDialog {
    align: center middle;
    content-align: center middle;
}

RenameVMDialog #dialog {
    width: 60;
    height: 13;
    padding: 1;
    border: round green;
    background: $surface;
}

RenameVMDialog #question {
    align: center middle;
    margin-bottom: 1;
}

RenameVMDialog Input {
    margin-bottom: 1;
}

RenameVMDialog #dialog-buttons {
    width: 100%;
}

RenameVMDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

ChangeNetworkDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ChangeNetworkDialog #dialog {
    width: 60;
    height: 20;
    padding: 1;
    border: round green;
    background: $surface;
}

ChangeNetworkDialog #interface-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #network-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

#tab-storage {
    layout: vertical;
}

#storage-tree {
    height: 1fr; /* Take up remaining space */
    border: round $primary;
    margin-bottom: 1;
}

#storage-actions {
    height: auto;
}

.storage-action-label {
    margin-top: 1;
    text-style: bold;
}

.storage-buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}

.storage-buttons Button {
    width: 1fr;
    margin: 0 1;
}

.net-name,
.net-active-check,
.net-autostart-check,
.net-usage {
    width: 2fr;
    margin-right: 2;
}
.net-mode {
    width: 1fr;
}
XMLDisplayModal {
    align: center middle;
    content-align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

XMLDisplayModal #xml-display-dialog {
    width: 80%;
    height: 80%;
    padding: 1;
    border: round green;
    background: $surface;
}

XMLDisplayModal #xml-textarea {
    height: 1fr;
    border: round $primary;
    margin-bottom: 1;
}

XMLDisplayModal #dialog-buttons {
    height: auto;
    align: center middle;
}

XMLDisplayModal #dialog-buttons Button {
    width: 50%;
    margin: 0 1;
}

