WebConsoleDialog,
SnapshotNameDialog,
SelectSnapshotDialog,
ConfirmationDialog,
ChangeNetworkDialog,
XMLDisplayModal,
WebConsoleDialog,
SelectDiskModal,
SelectPoolModal,
ProgressModal,
DeleteVMConfirmationDialog,
AdvancedCloneDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ConfirmationDialog #dialog Label,
RenameVMDialog,
WebConsoleDialog,
XMLDisplayModal,
WebConsoleDialog,
SelectDiskModal,
SelectPoolModal,
DeleteVMConfirmationDialog,
SelectServerModal {
    content-align: center middle;
}
SnapshotNameDialog #dialog {
    width: 60;
    height: 12;
    padding: 1;
    border: round $primary;
    background: $surface;
}

SnapshotNameDialog #question {
    margin-bottom: 1;
}

SnapshotNameDialog Input {
    margin-bottom: 1;
}

SnapshotNameDialog #dialog-buttons {
    width: 100%;
}

SnapshotNameDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

SelectSnapshotDialog #dialog {
    width: 60;
    padding: 1;
    border: round $primary;
    background: $surface;
    height: auto;
}

ProgressModal,
SelectSnapshotDialog #snapshot-list {
    margin-bottom: 1;
    border: round $primary;
    height: 10;
}

ConfirmationDialog #dialog {
    width: 60;
    height: 15;
    padding: 1;
    border: round $error;
    background: $surface;
}

ConfirmationDialog #question {
    margin-bottom: 1;
}

ConfirmationDialog #dialog-buttons {
    width: 100%;
    margin-top: 1;
}

ConfirmationDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
    margin-right: 1;
}

WebConsoleDialog,
SelectDiskModal,
SelectPoolModal,
DeleteVMConfirmationDialog,
SelectServerModal {
    height: auto;
}

WebConsoleDialog #dialog,
SelectDiskModal #dialog,
SelectPoolModal #dialog,
DeleteVMConfirmationDialog #dialog,
SelectServerModal #select-server-container {
    width: 60;
    padding: 1;
    border: round $primary;
    background: $surface;
    height: auto;
}

SelectDiskModal #question,
SelectPoolModal #question,
DeleteVMConfirmationDialog #question,
SelectServerModal #select-server-container Label {
    content-align: center middle;
    margin-bottom: 1;
}

SelectServerModal Checkbox {
    padding: 0 1;
    margin-bottom: 1;
}

WebConsoleDialog #dialog-buttons,
SelectDiskModal #dialog-buttons,
SelectPoolModal #dialog-buttons,
DeleteVMConfirmationDialog #dialog-buttons,
SelectServerModal #dialog-buttons {
    width: 100%;
}

WebConsoleDialog #dialog-buttons Button,
SelectDiskModal #dialog-buttons Button,
SelectPoolModal #dialog-buttons Button,
DeleteVMConfirmationDialog #dialog-buttons Button,
SelectServerModal #dialog-buttons Button {
    width: 48%;
    margin: 0 0;
}


RenameVMDialog {
    align: center middle;
}

RenameVMDialog #dialog {
    width: 60;
    height: 13;
    padding: 1;
    border: round $primary;
    background: $surface;
}

RenameVMDialog #question {
    align: center middle;
    margin-bottom: 1;
}

RenameVMDialog Input {
    margin-bottom: 1;
}

RenameVMDialog #dialog-buttons {
    width: 100%;
}

RenameVMDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

ChangeNetworkDialog #dialog {
    width: 60;
    height: 20;
    padding: 1;
    border: round $primary;
    background: $surface;
}

ChangeNetworkDialog #interface-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #network-select {
    margin-bottom: 1;
    height: 4;
}

ChangeNetworkDialog #dialog-buttons Button {
    width: 50%;
    margin-left: 1;
}

#tab-storage {
    layout: vertical;
}

#storage-tree {
    height: 1fr; /* Take up remaining space */
    border: round $primary;
    margin-bottom: 1;
}

#storage-actions {
    height: auto;
}

.storage-action-label {
    margin-top: 1;
    text-style: bold;
}

.storage-buttons {
    align: center middle;
    height: auto;
    margin-top: 1;
}

.storage-buttons Button {
    width: 1fr;
    margin: 0 1;
}

.net-name,
.net-active-check,
.net-autostart-check,
.net-usage {
    width: 2fr;
    margin-right: 2;
}
.net-mode {
    width: 1fr;
}

XMLDisplayModal #xml-display-dialog {
    width: 80%;
    height: 80%;
    padding: 1;
    border: round $primary;
    background: $surface;
}

XMLDisplayModal #xml-textarea {
    height: 1fr;
    border: round $primary;
    margin-bottom: 1;
}

XMLDisplayModal #dialog-buttons {
    height: auto;
    align: center middle;
}

XMLDisplayModal #dialog-buttons Button {
    content-align: center middle;
    width: 100%;
}

#webconsole-dialog,
#webconsole-config-dialog {
    padding: 0 1;
    width: 60;
    content-align: center middle;
    border: round $primary;
}
#webconsole-dialog {
    height: 10;
    width: 85;
}
#webconsole-config-dialog {
    height: 26;
}
#remote-console-switch,
#webconsole-config-title {
    column-span: 2;
    margin: 1 1;
    content-align: center middle;
    width: 100%;
}
.webconsole-config-label {
    content-align: right middle;
}
#progress-modal-container,
#clone-dialog {
    grid-rows: 4;
    grid-size-columns: 2;
    grid-gutter: 0 1;
    border: round $primary;
    width: 55;
    height: 15;
}
