SnapshotNameDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SnapshotNameDialog #dialog {
    width: 60;
    height: 30;
    padding: 1;
    border: round green;
    background: $surface;
}

SnapshotNameDialog #question {
    margin-bottom: 1;
}

SnapshotNameDialog Input {
    margin-bottom: 1;
}

SnapshotNameDialog #dialog-buttons {
    width: 100%;
}

SnapshotNameDialog #dialog-buttons Button {
    margin-left: 1;
}

SelectSnapshotDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

SelectSnapshotDialog #dialog {
    width: 60;
    padding: 1;
    border: round green;
    background: $surface;
    height: auto;
}

SelectSnapshotDialog #snapshot-list {
    margin-bottom: 1;
    border: round green;
    height: 10;
}

ConfirmationDialog {
    align: center middle;
    background: rgba(0, 0, 0, 0.5);
}

ConfirmationDialog #dialog {
    width: 60;
    height: 30;
    padding: 1;
    border: round $error;
    background: $surface;
}

ConfirmationDialog #question {
    margin-bottom: 1;
    content-align: center middle;
    width: 100%;
}

ConfirmationDialog #dialog-buttons {
    width: 100%;
    align: center middle;
    margin-top: 1;
}

ConfirmationDialog #dialog-buttons Button {
    margin-left: 2;
    margin-right: 2;
}
