/* Styles for VMManagerTUI */
#vms-container {
    height: auto;
    width: auto;
    /*overflow-y: scroll;
    overflow-x: scroll;*/
    grid-rows: 44vh;
    grid-gutter: 0 0;
    grid-columns: 98vh; /*100%; /*80vh;*/
    layout: grid;
}
#connection-dialog {
    width: 60;
    height: auto;
    border: round round;
    background: $surface;
    padding: 1 2;
}
#connection-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}
#connection-dialog Input {
    width: 100%;
    margin-bottom: 1;
}
#connection-dialog Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}
#connection-dialog Button {
    margin: 0 1;
}

ErrorModal {
    align: center middle;
}
#error-dialog {
    width: 60;
    height: auto;
    border: round red 80%;
    background: $surface;
    padding: 1 2;
}

#error-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
    text-style: bold;
    color: red; /* Error label should be red */
}

#error-dialog Static {
    width: 100%;
    margin-bottom: 1;
    color: red; /* Error message text should be red */
}

#error-dialog Button {
    margin: 0 1;
    width: auto;
    align: center middle;
}

SuccessModal {
    align: center middle;
}
#success-dialog {
    width: 60;
    height: auto;
    border: round green 80%;
    background: $surface;
    padding: 1 2;
}

#success-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
    text-style: bold;
    color: green; /* Success label should be green */
}

#success-dialog Static {
    width: 100%;
    margin-bottom: 1;
    color: green; /* Success message text should be green */
}

#success-dialog Button {
    margin: 0 1;
    width: auto;
    align: center middle;
}
#filter-dialog {
    width: 40;
    height: 40vh; 
    border: round green;
    background: $surface;
    padding: 0 0;
}

#filter-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}

#filter-dialog Button {
    width: 100%;
    height: 10vh;
    margin-bottom: 1;
}

.close-button {
    height: 4vh;
    color: white;
    background: blue;
    border: hidden;
    margin-bottom: 1;
}

#server-selection-dialog {
    width: 80;
    height: 50vh;
    border: panel green;
    background: $background;
    padding: 1 2;
}
#server-selection-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}

#server-selection-dialog Button {
    margin: 0 1;
}

#server-management-dialog {
    width: 60;
    height: 20;
    border: panel green;
    background: $background;
    padding: 1 2;
}
#edit-server-dialog {
    width: 60;
    height: auto;
    border: round green 80%;
    background: $surface;
}

#edit-server-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}

#edit-server-dialog Input {
    width: 100%;
    margin-bottom: 1;
}

#edit-server-dialog Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}

#edit-server-dialog Button {
    margin: 0 1;
}

Header {
    background: $primary;
    color: $text;
}
Footer {
    background: $primary;
    color: $text;
}
Select {
    width: 30;
    height: 2;
    margin: 0 0;
}
.disk-info {
    margin: 0 2;
    padding: 0 0;
    height: 40;
    border-left: round;
}

/* Styles for VMDetailModal */
VMDetailModal {
    height: 60;
    align: center middle;
}
#vm-detail-container {
    width: 80;
    height: 60;
    max-height: 90%;
    background: $surface;
    border: round $primary-lighten-2;
    padding: 1;
    overflow: auto;
}

#text-show {
    width: 100%;
    height: 90%;
    background: $surface;
    border: round green;
    padding: 1;
    overflow: auto;
}

#title {
    content-align: center middle;
    width: 100%;
    text-style: bold;
    margin-bottom: 1;
}

#vm-info-grid {
    grid-size-columns: 2;
    grid-gutter: 1;
    margin-bottom: 1;
}

#vm-info-grid Label:odd {
    text-style: bold;
    text-align: right;
}

.section-title {
    text-style: bold;
    background: $primary;
    color: $text;
    width: 100%;
    margin-top: 1;
}

.info-section {
    height: 40;
    max-height: 40;
    background: $panel;
    padding: 0 1;
    border: round $primary;
    margin-bottom: 1;
}

.info-details {
    height: auto;
    background: $panel;
    padding: 0 0;
    border: round $primary;
    margin-bottom: 1;
}

#status-running {
    color: green;
    border: round green;
}
#status-stopped, #status-shut-off {
    color: red;
    border: round red;
}
#status-paused {
    color: yellow;
    border: round yellow;
}

.error-message {
    text-align: center;
    color: red;
    height: 1;
}
Button {
    height: 3vh; /*3vh; */
    width: 100%; /*5vh; */
    margin: 1 1;
    padding: 0 0;
    border: hidden;
}
.Buttonpage {
    height: auto;
    margin: 0 0;
    padding: 1 1;
    color: white;
    background: black;
    border: round;
}
.ctrlpage {
    height: 4vh;
    width: auto;
    margin: 0 0;
    padding: 0 0;
    color: white;
    background: $background;
}

.delete-button {
    height: 4vh;
    width: 25%; /*5vh; */
    color: white;
    background: red;
}
.edit-button {
    height: 4vh;
    width: 25%; /*5vh; */
    color: white;
    background: green;
}
.add-button {
    height: 4vh;
    width: 25%; /*5vh; */
    color: white;
    background: green;
}
