/* Styles for VMManagerTUI */
#vms-container {
    height: 1000;
    width: 84;
    max-height: 92vh;
    /*overflow-y: scroll;
    overflow-x: scroll;*/
    grid-rows: 13;
    grid-gutter: 1 1;
    layout: grid;
    overflow: auto;
    padding: 1 1;
}
#connection-dialog {
    width: 60;
    height: auto;
    border: panel green;
    background: $surface;
    padding: 1 2;
}

#filter-dialog {
    width: 40;
    height: auto; 
    border: panel green;
    align: center middle;
    background: $surface;
    padding: 0 0;
}

#server-selection-dialog {
    width: 80;
    height: 50vh;
    border: panel green;
    background: $background;
    padding: 1 2;
}

#server-management-dialog {
    width: 60;
    height: 20;
    border: panel green;
    background: $background;
    padding: 1 2;
}
#edit-server-dialog {
    width: 60;
    height: auto;
    border: round green 80%;
    background: $surface;
}

#connection-dialog Label,
#filter-dialog Label,
#server-selection-dialog Label,
#edit-server-dialog Label,
#add-disk-dialog Label,
#remove-disk-dialog Label {
    width: 100%;
    height: auto;
    content-align: center middle;
    margin-bottom: 1;
}

#connection-dialog Input,
#edit-server-dialog Input,
#add-disk-dialog Input,
#add-disk-dialog Select,
#remove-disk-dialog Input,
#remove-disk-dialog Select {
    width: 100%;
    margin-bottom: 1;
}

#connection-dialog Horizontal,
#edit-server-dialog Horizontal,
#add-disk-dialog Horizontal,
#remove-disk-dialog Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}

#connection-dialog Button,
#server-selection-dialog Button,
#edit-server-dialog Button,
#add-disk-dialog Button,
#remove-disk-dialog Button {
    margin: 0 1;
}

#filter-dialog Button {
    width: 50%;
    height: auto;
    margin-bottom: 1;
}

.close-button {
    height: 4vh;
    color: white;
    background: blue;
    border: hidden;
    margin-bottom: 1;
}

Header, Footer {
    background: $primary;
    color: $text;
}

Select {
    width: 30;
    height: 2;
    margin: 0 0;
}
.disk-info {
    margin: 0 2;
    padding: 0 0;
    height: 40;
    border-left: round;
}

/* Styles for VMDetailModal */
VMDetailModal {
    align: center middle;
} 
#vm-detail-container {
    width: 80;
    height: auto;
    max-height: 90%;
    background: $surface;
    border: round $primary-lighten-2;
    padding: 1;
    overflow: auto;
}

#text-show {
    width: 100%;
    height: 90%;
    background: $surface;
    border: round green;
    padding: 1;
    overflow: auto;
}

#title {
    content-align: center middle;
    width: 100%;
    text-style: bold;
    margin-bottom: 1;
}

#vm-info-grid {
    grid-size-columns: 2;
    grid-gutter: 1;
    margin-bottom: 1;
}

#vm-info-grid Label:odd {
    text-style: bold;
    text-align: right;
}

.section-title {
    text-style: bold;
    background: $primary;
    color: $text;
    width: 100%;
    margin-top: 1;
}

.info-section {
    height: 10;
    max-height: 10;
    background: $panel;
    padding: 0 1;
    border: round $primary;
    margin-bottom: 1;
}

.info-details {
    height: auto;
    background: $panel;
    padding: 0 0;
    border: round $primary;
    margin-bottom: 1;
}

#status-running {
    color: green;
    border: round green;
}
#status-stopped, #status-shut-off {
    color: red;
    border: round red;
}
#status-paused {
    color: yellow;
    border: round yellow;
}

.error-message {
    text-align: center;
    color: red;
    height: 1;
}
Button {
    height: 3vh; /*3vh; */
    width: 100%; /*5vh; */
    margin: 1 1;
    padding: 0 0;
    border: hidden;
}
.Buttonpage {
    height: auto;
    margin: 0 0;
    padding: 1 1;
    color: white;
    background: black;
    border: round;
}
.ctrlpage {
    height: 4vh;
    width: auto;
    margin: 0 0;
    padding: 0 0;
    color: white;
    background: $background;
}

.delete-button,
.edit-button,
.add-button {
    height: 4vh;
    width: 25%; /*5vh; */
    color: white;
}

.delete-button {
    background: red;
}

.edit-button,
.add-button {
    background: green;
}

#detail_add_disk, #detail_remove_disk {
    width: 1fr;
}

.edit-detail-btn {
    width: auto;
    height: 1;
    min-height: 1;
    margin: 0 0 0 1;
}

.centered-status-label {
    content-align: center middle;
}

.compact-info-row {
    height: auto;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#add-disk-dialog,
#remove-disk-dialog {
    width: auto;
    height: auto;
    max-width: 60;
    max-height: 80vh;
    border: round green;
    background: $surface;
    padding: 1 2;
    align: center middle;
}

/* Styles for ServerPrefModal */
.ServerPrefModal {
    align: center middle;
}

#server-pref-dialog {
    width: 90%;
    max-width: 100;
    height: auto;
    background: $surface;
    border: panel $primary;
    padding: 1;
    align: center middle;
}

#dhcp-inputs-horizontal Input {
    width: 1fr;
}

#server-pref-title {
    content-align: center middle;
    text-style: bold;
    margin-bottom: 1;
    color: $text;
}

#server-pref-tabs {
    height: 1fr;
    border: round $primary;
    padding: 0 1;
}

#server-pref-buttons {
    width: 100%;
    height: auto;
    align: center middle;
    margin-top: 1;
}

#tab-storage, #tab-network {
    align: left top;
    overflow-y: auto;
}

#create-network-form {
    height: auto;
    max-height: 1fr;
    max-width: 1fr;
    background: $panel;
    border: round $primary;
    margin-top: 0;
}

#create-network-form Input {
    margin-bottom: 0;
}

#dhcp-checkbox-horizontal {
    margin-bottom: 0;
}

#dhcp-options {
    margin-top: 0;
    /* Other styles for dhcp-options */
    border: hidden;
}

#dns-domain-radioset {
    margin-top: 0;
    border: hidden;
}

.hidden {
    display: none;
}

#existing-networks-table {
    height: 5;
    border: round $primary;
}
