/* Styles for VMManagerTUI */
#vms-container {
    height: auto;
}
ConnectionModal {
    align: center middle;
}
#connection-dialog {
    width: 60;
    height: auto;
    border: thick $background 80%;
    background: $surface;
    padding: 1 2;
}
#connection-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}
#connection-dialog Input {
    width: 100%;
    margin-bottom: 1;
}
#connection-dialog Horizontal {
    width: 100%;
    height: auto;
    align: center middle;
}
#connection-dialog Button {
    margin: 0 1;
}

FilterModal {
    align: center middle;
}

#filter-dialog {
    width: 40;
    height: auto;
    border: thick $background 80%;
    background: $surface;
    padding: 1 2;
}

#filter-dialog Label {
    width: 100%;
    content-align: center middle;
    margin-bottom: 1;
}

#filter-dialog Button {
    width: 100%;
    margin-bottom: 1;
}

ServerManagementModal {
    align: center middle;
}
#server-management-dialog {
    width: 80;
    height: 25;
    border: thick $background 80%;
    background: $surface;
    padding: 1 2;
}
ServerSelectionModal {
    align: center middle;
}
#server-selection-dialog {
    width: 80;
    height: 25;
    border: thick $background 80%;
    background: $surface;
    padding: 1 2;
}

Header {
    background: $primary;
    color: $text;
}
Footer {
    background: $primary;
    color: $text;
}
Select {
    width: 30;
    height: 2;
    margin: 0 0;
}
.disk-info {
    margin: 0 2;
    padding: 0 0;
    height: 40;
    border-left: round;
}

/* Styles for VMDetailModal */
VMDetailModal {
    align: center middle;
}

#vm-detail-container {
    width: 80;
    height: 60;
    max-height: 90%;
    background: $surface;
    border: thick $primary-lighten-2;
    padding: 1;
    overflow: auto;
}

#title {
    content-align: center middle;
    width: 100%;
    text-style: bold;
    margin-bottom: 1;
}

#vm-info-grid {
    grid-size-columns: 2;
    grid-gutter: 1;
    margin-bottom: 1;
}

#vm-info-grid Label:odd {
    text-style: bold;
    text-align: right;
}

.section-title {
    text-style: bold;
    background: $primary;
    color: $text;
    width: 100%;
    margin-top: 1;
}

.info-section {
    height: 40;
    max-height: 40;
    background: $panel;
    padding: 0 1;
    border: round $primary;
    margin-bottom: 1;
}

.info-details {
    height: auto;
    background: $panel;
    padding: 0 0;
    border: round $primary;
    margin-bottom: 1;
}

#status-running {
    color: green;
    border: round green;
}
#status-stopped, #status-shut-off {
    color: red;
    border: round red;
}
#status-paused {
    color: yellow;
    border: round yellow;
}

.error-message {
    text-align: center;
    color: red;
    height: 1;
}

.close-button {
    height: 4vh;
    color: white;
    background: blue;
    border: hidden;
    margin-bottom: 1;
}
