VMCard {
    text-align: center;
    padding: 0 0;
    border: none; /*panel green;*/
    margin: 0 0;
}
#name {
    background: green;
    color: black;
    padding: 0 0;
    text-style: bold;
    content-align: center middle;
    border: round green;
}
#status {
    margin: 0 2;
    padding: 0 0;
    text-style: bold;
    height: 3vh; /* 3vh; */
    min-height: 3vh; /* 3vh; */
    content-align: center middle;
    border: hidden; /*hidden; */
}
#status.running {
    background: lightgreen;
    color: black;
}
#status.stopped {
    color: black;
    background: red;
}
#status.paused {
    color: black;
    background: yellow;
}
Button {
    height: 3vh; /*3vh; */
    width: 100%; /*5vh; */
    margin: 0 1;
    padding: 0 0;
    border: hidden;
}
.Buttonpage {
    height: 3vh;
    width: 15%; /*5vh; */
    margin: 0 1;
    padding: 0 0;
    border: hidden;
}

#button-container {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
#status-cpu-mem {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
/* Custom button styles */
#pause {
    background: #FFA500; /* Orange */
    color: white;
    height: 5vh;
    padding: 0 1;
}
#snapshot_take {
    background: #00008B; /* Dark blue */
    color: white;
    height: 5vh;
    padding: 0 1;
}
#snapshot_restore {
    background: #0000FF; /* Blue */
    color: white;
    height: 5vh;
    padding: 0 1;
}
#connect {
    background: #FF00FF; /* Magenta */
    color: white;
    height: 5vh;
    padding: 0 1;
}
