VMCard {
    text-align: center;
    border: hidden;
    margin: 0 0;
    width: 42;
    height: 16;
}
#name {
    background: green;
    color: white;
    padding: 0 0;
    text-style: bold;
    content-align: center middle;
}
#info-container {
    background: $background;
    color: white;
    padding: 0 0;
    content-align: center middle;
    border: green;
    width: 40;
    height: 13;
}
#status {
    margin: 0 2;
    padding: 0 1;
    text-style: bold;
    height: 3vh; /* 3vh; */
    min-height: 3vh; /* 3vh; */
    max-height: 3vh; /* 3vh; */
    content-align: center middle;
    margin-top: 1;
    margin-bottom: 1;
}
#status.running {
    background: lightgreen;
    color: black;
}
#status.stopped {
    color: black;
    background: red;
}
#status.paused {
    color: black;
    background: yellow;
}
Button {
    height: 3vh; /*3vh; */
    max-height: 14vh; /* 3vh; */
    width: 100%; /*5vh; */
    margin: 0 1;
    padding: 0 0;
    border: hidden;
}
.Buttonpage {
    height: 3vh;
    max-height: 3vh; /* 3vh; */
    width: 15%; /*5vh; */
    margin: 0 1;
    padding: 0 0;
    overflow-y: auto;
    border: hidden;
}

#button-container {
    width: 100%;
    height: 100%;
    margin: 1 1;
    padding: 0 1;
}
#status-cpu-mem {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
/* Custom button styles */
#pause {
    background: #FFA500; /* Orange */
    color: white;
    max-height: 3vh; /* 3vh; */
    padding: 0 1;
}
#xml {
    background: grey;
    color: white;
    max-height: 3vh; /* 3vh; */
    padding: 0 1;
}

#snapshot_take {
    background: #00008B; /* Dark blue */
    color: white;
    max-height: 3vh; /* 3vh; */
    padding: 0 0;
}
#snapshot_restore {
    background: #0000FF; /* Blue */
    max-height: 3vh; /* 3vh; */
    color: white;
    padding: 0 0;
}
#snapshot_delete {
    background: red; /* Blue */
    color: white;
    max-height: 3vh; /* 3vh; */
    padding: 0 0;
}
#connect {
    background: #FF00FF; /* Magenta */
    color: white;
    max-height: 3vh; /* 3vh; */
    padding: 0 0;
}
#snapshot-tab {
    border: hidden;
}
#manage-tab {
    border: hidden;
}
.button-separator {
    height: 1;
}
