VMCard {
    width: auto;
    height: auto;
    text-align: center;
    padding: 0 0;
    border: panel green;
    overflow-y: auto;
    margin: 0 0;
}
#name {
    background: green;
    color: black;
    padding: 1 1;
    text-style: bold;
    content-align: center middle;
    border: none;
}
#status {
    margin: 0 2;
    padding: 0 1;
    text-style: bold;
    height: 8vh; /* 3vh; */
    min-height: 8vh; /* 3vh; */
    content-align: center middle;
    border: round; /*hidden; */
}
#status.running {
    background: lightgreen;
    color: black;
    border: round lightgreen;
}
#status.stopped {
    color: black;
    background: red;
    border: round red;
}
#status.paused {
    color: black;
    background: yellow;
    border: round yellow;
}
Button {
    height: 3vh; /*3vh; */
    width: 100%; /*5vh; */
    margin: 1 1;
    padding: 0 0;
    border: hidden;
}
.Buttonpage {
    height: 3vh;
    width: 15%; /*5vh; */
    margin: 0 1;
    padding: 0 0;
    overflow-y: auto;
    border: hidden;
}

#button-container {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
#status-cpu-mem {
    width: 100%;
    height: 100%;
    padding: 0 1;
}
