/*
 * dialog.css - Textual TUI
 */

/* === COMMON OVERLAY MODAL === */
BulkActionModal,
WebConsoleDialog,
SnapshotNameDialog,
SelectSnapshotDialog,
SelectOneServerModal,
ConfirmationDialog,
ChangeNetworkDialog,
XMLDisplayModal,
SelectDiskModal,
AddDiskModal,
EditDiskModal,
SelectPoolModal,
VMDetailModal,
VirshShellScreen,
ProgressModal,
AddPoolModal,
MigrationModal,
MoveVolumeModal,
DeleteVMConfirmationDialog,
AdvancedCloneDialog,
RenameVMDialog,
AddInputDeviceModal,
PasswordModal,
FileSelectionModal,
ConfigModal,
HowToSSHModal {
  align: center middle;
  background: rgba(0, 0, 0, 0.5);
}

/* === BASE DIALOGUE === */
SnapshotNameDialog > #dialog,
SelectSnapshotDialog > #dialog,
ConfirmationDialog > #dialog,
WebConsoleDialog > #dialog,
SelectDiskModal > #dialog,
MoveVolumeModal > #move-volume-dialog,
SelectPoolModal > #dialog,
SelectOneServerModal > #select-one-server-container,
DeleteVMConfirmationDialog > #delete-vm-dialog,
SelectServerModal > #select-server-container,
RenameVMDialog > #dialog,
ChangeNetworkDialog > #dialog,
AddInputDeviceModal > #add-input-container,
PasswordModal > #password-dialog,
AddPoolModal > #add-pool-dialog,
FileSelectionModal > #file-selection-dialog,
ConfigModal > #config-dialog,
HowToSSHModal > #howto-ssh-dialog {
  width: 60;
  padding: 1;
  content-align: center middle;
  align: center middle;
  border: round $primary;
  height: auto;
}

/* === SPECIFIC HEIGHT === */
SnapshotNameDialog > #dialog { height: 18; }
DeleteVMConfirmationDialog > #delete-vm-dialog,
ConfirmationDialog > #dialog { 
  height: 15; 
  border: $error; 
}
#file-tree {
   height: 90%;
}
FileSelectionModal > #file-selection-dialog,
ConfigModal #config-dialog,
HowToSSHModal #howto-ssh-dialog {
    width: 80;
    height: 95%;
}

RenameVMDialog > #dialog { height: 13; }
ChangeNetworkDialog > #dialog { height: 20; }
AddInputDeviceModal > #add-input-container { height: 16; }
PasswordModal > #password-dialog { height: 12; }
XMLDisplayModal > #xml-display-dialog, #xml-textarea, { 
  width: 100%; 
  height: 95%; 
}

/* === CENTERED CONTENT === */
ConfirmationDialog Label,
RenameVMDialog,
AddDiskModal,
EditDiskModal,
WebConsoleDialog,
XMLDisplayModal,
MigrationModal,
MoveVolumeModal,
SelectDiskModal > #dialog,
SelectPoolModal > #dialog,
AddInputDeviceModal,
SelectOneServerModal,
SelectServerModal {
  content-align: center middle;
}

/* === LABELS QUESTION === */
SnapshotNameDialog > #question,
ConfirmationDialog > #question,
RenameVMDialog > #question,
SelectDiskModal > #question,
SelectPoolModal > #question,
DeleteVMConfirmationDialog > #question,
SelectServerModal Label,
AddInputDeviceModal Label {
  margin-bottom: 1;
  content-align: center middle;
}

/* === BOUTONS CONTAINERS === */
SnapshotNameDialog > #dialog-buttons,
ConfirmationDialog > #dialog-buttons,
WebConsoleDialog > #dialog-buttons,
SelectDiskModal > #dialog-buttons,
SelectPoolModal > #dialog-buttons,
DeleteVMConfirmationDialog > #dialog-buttons,
SelectServerModal Button,
RenameVMDialog > #dialog-buttons,
ChangeNetworkDialog > #dialog-buttons,
AddInputDeviceModal .modal-buttons,
PasswordModal > #dialog-buttons {
  width: 100%;
}

ConfirmationDialog > #dialog-buttons { margin-top: 1; }

/* === LARGES BOUTONS (50%) === */
SnapshotNameDialog Button,
ConfirmationDialog Button,
RenameVMDialog Button,
ChangeNetworkDialog Button,
AddInputDeviceModal Button,
WebConsoleDialog Button,
SelectDiskModal Button,
FileSelectionModal Button,
SelectPoolModal Button,
DeleteVMConfirmationDialog Button,
ConfigModal Button,
PasswordModal Button {
  width: 50%;
  margin: 1;
  margin-left: 1;
}
AddPoolModal #browse-dir-btn,
AddDiskModal #browse-disk-btn, {
  height: 3;
  width: 25%;
  background: $primary;
}

ConfirmationDialog Button { margin-right: 1; }

/* === INPUTS === */
SnapshotNameDialog Input,
RenameVMDialog Input,
PasswordModal Input,
AddInputDeviceModal Select {
  margin-bottom: 1;
}
AddPoolModal #dir-target-path-input,
AddDiskModal #disk-path-input {
  width: 75%;
}
/* === LISTS === */
SelectSnapshotDialog > #snapshot-list,
ProgressModal,
SelectServerModal {
  margin-bottom: 1;
  border: round $primary;
  height: 10;
}

/* === NETWORK === */
ChangeNetworkDialog > #interface-select,
ChangeNetworkDialog > #network-select {
  margin-bottom: 1;
  height: 4;
}

/* === PROGRESS MODAL === */
ProgressModal > #progress-modal-container {
  layout: vertical;
  height: 80%;
  width: 80%;
  border: round $primary;
}

ProgressModal > #progress-title,
ProgressModal > #progress-bar { 
  height: auto; 
}

ProgressModal > #progress-bar { 
  margin-bottom: 1; 
}

ProgressModal .progress-log {
  height: 1fr;
  min-height: 5;
  border: heavy $primary;
  padding: 0 1;
  background: $surface-darken-1;
}

/* === WEBCONSOLE === */
#webconsole-dialog,
#webconsole-config-dialog {
  padding: 0 1;
  width: 60;
  content-align: center middle;
  border: round $primary;
}

#webconsole-dialog { 
  width: 85; 
  height: 10; 
}

#webconsole-config-dialog { 
  height: 26; 
}

#remote-console-switch,
#config-title,
#config-title-file,
#webconsole-config-title {
  column-span: 2;
  margin: 0 1;
  content-align: center middle;
  width: 100%;
}

.webconsole-config-label { 
  content-align: right middle; 
}

/* === BULK ACTION === */
#bulk-action-dialog {
  height: 24;
  width: 80;
  border: round $primary;
  content-align: center middle;
  padding: 0 1;
}

/* === MISC === */
SelectServerModal Checkbox { 
  padding: 0 1; 
  margin-bottom: 1; 
}

#tab-storage { layout: vertical; }

#storage-tree {
  height: 1fr;
  border: round $primary;
  margin-bottom: 1;
}

.storage-buttons {
  align: center middle;
  height: auto;
  margin-top: 1;
}

.storage-buttons Button { 
  width: 1fr; 
  margin: 0 1; 
}

#clone-dialog {
  grid-rows: 4;
  grid-size-columns: 2;
  grid-gutter: 0 1;
  border: round $primary;
  width: 55;
  height: 15;
}

.log-view {
  background: #222222;
  color: #DDDDDD;
}

#wc-port-start-input,
#wc-port-end-input,
#vnc-quality-input,
#vnc-compression-input,
#cache-ttl-input,
#stats-interval-input,
#add-pool-btn #cancel-pool-btn,
#port-range-label {
  width: 25%;
  height: 1;
  border: none;
}
